<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="stylesheet.css">
    <title>Find events near you!</title>

</head>
<body>

<h1>Event results</h1>
<h2>{{state_name}}</h2>


{% if events %}

    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Event Name</th>
            <th scope="col">Event Date</th>
          </tr>
        </thead>
        <tbody>
          {% for event in events %}
            <tr>
              <td>${{ event.name }}</td>
              <td>{{ event.local_start_date }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

  {% else %}
    <p>Events not found.</p>
  {% endif %}

</body>
</html>